{% extends 'customerheader.html'  %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
  {% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Customer Make Doctor Appointment Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/customermainpage">Home</a></li>
            <li class="current">Customer Make Doctor Appointment Page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-8">
            <form action="/customermakeappointment2" method="post" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-12">
                  {{msg}}
                </div>

                <div class="col-md-6">
                  <input type="text" name="did" class="form-control" placeholder="Doctor Id" required=""
                  value="{{data.id}}" readonly>
                </div>

                <div class="col-md-6">
                  <input type="text" name="fname" class="form-control" placeholder="First Name" required=""
                  value="{{data.FirstName}}" readonly>
                </div>

                <div class="col-md-6 ">
                  <input type="text" class="form-control" name="lname" placeholder="Last Name" required=""
                  value="{{data.LastName}}" readonly>
                </div>                

                <div class="col-md-6">
                  <input type="text" name="phnum" class="form-control" placeholder="Phone Number" required=""
                  value="{{data.PhoneNumber}}" readonly>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required=""
                  value="{{data.EmailId}}" readonly>
                </div>

                <div class="col-md-6 ">
                  <input type="date" class="form-control" name="adate" placeholder="Appointment Date" required=""
                  min="{{today}}" value="{{today}}">
                </div>

                <div class="col-md-6 ">
                  <input type="time" class="form-control" name="atime" placeholder="Appointment Time" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="address" rows="6" placeholder="Address" 
                  required="" readonly>{{data.Address}}</textarea>
                </div>

                <div class="col-md-12 text-center">
                  <br>
                  <button type="submit">Make Appointment</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

      </main>
{% endblock %}
</body>

</html>
