{% extends 'doctorheader.html'  %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Online SkinCare E-Commerce</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body class="index-page">

  {% block content %}
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Doctor Main Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/doctormainpage">Home</a></li>
            <li class="current">Doctor Main Page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About 2 Section -->
    <section id="about-2" class="about-2 section">

      <div class="container" data-aos="fade-up">

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="static/assets/img/Pic1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5">About Online SkinCare E-Commerce</h3>


            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="about-2-tab1">

                <p class="fst-italic">Skin care products are used to cleanse, protect, and improve the skin's appearance and health. They can be broadly categorized into cosmetics and drugs, with the latter being regulated more strictly due to their intended use in treating or preventing skin conditions. Common types include cleansers, exfoliators, toners, serums, moisturizers, eye creams, sunscreens, and masks, each serving a specific purpose. </p>

<p>
                Types of Skin Care Products:</p>
<ol><li>
Cleansers: Remove dirt, oil, and makeup from the skin.</li><li> 
Exfoliators: Help remove dead skin cells, revealing brighter skin.</li><li> 
Toners: Balance the skin's pH and prepare it for other products.</li><li> 
Serums: Deliver concentrated active ingredients to address specific concerns like wrinkles or hyperpigmentation.</li><li> 
Moisturizers: Hydrate and soften the skin, preventing dryness.</li><li> 
Eye Creams: Specifically formulated for the delicate skin around the eyes.</li><li> 
Sunscreens: Protect the skin from harmful UV rays.</li><li> 
Face Masks: Offer a more intensive treatment for various skin concerns.</li><li> 
Lip Care Products: Protect and moisturize the lips.</li><li> 
Spot Treatments: Target individual blemishes with active ingredients. </li>
</ol>
              </div><!-- End Tab 1 Content -->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /About 2 Section -->

  </main>
{% endblock %}

</body>

</html>