{% extends 'commonheader.html'  %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Online SkinCare E-Commerce</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
</head>

<body class="index-page">

  {% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Services</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/index">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->


    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Convenience</a></h4>
                <p class="description">You can shop from the comfort of your home or wherever you are.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Wide range of products</a></h4>
                <p class="description">You can find a wide variety of products online.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Price comparisons</a></h4>
                <p class="description">You can easily compare prices for the same product at different retailers.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Detailed information</a></h4>
                <p class="description">You can find detailed product information and reviews</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Anytime, anywhere, and any device access</a></h4>
                <p class="description">You can shop online from any device, at any time, and from anywhere</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <div>
                <h4 class="title"><a href="#" class="stretched-link">E-commerce</a></h4>
                <p class="description">It's a type of electronic commerce (e-commerce) that allows consumers to purchase items from various online platforms using a web browser or mobile app.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

  </main>
{% endblock %}

</body>

</html>